{% extends "default.twig" %}

{% block subtitle %}
    <section id="sub_title" class="container pb-4">
        <hr class="x-sm-hide mt-0">
        <section class="head_blog row no-gutters">
            <div class="col-sm head_blog_item">
                <hr class="x-sm-show  mt-0">
                <div>
                    <img class="head_item_img" src="/public/img/pictos/author.png" alt="">
                    <span>
                        6 <br class="x-sm-hide"/>
                        auteurs
                    </span>
                </div>
                <hr class="x-sm-show">
            </div>
            <div class="col-sm head_blog_item">
                <div>
                    <img class="head_item_img" src="/public/img/pictos/calendar.png" alt="">
                    <span>
                        Dernier ajout <br class="x-sm-hide"/>
                        10/10/2017
                    </span>
                </div>
                <hr class="x-sm-show">
            </div>
            <div class="col-sm head_blog_item">
                <div>
                    <img class="head_item_img" src="/public/img/pictos/plus.png" alt="">
                    <span>
                        <a class="add-button" href="/admin/add">
                            Ajouter un <br class="x-sm-hide"/>
                            article
                        </a>
                    </span>
                </div>
                <hr class="x-sm-show mb-0">
            </div>
        </section>
        <hr class="x-sm-hide">
    </section>
{% endblock %}


{% block view %}
    <div class="container py-4">
        {% for post in posts %}
            <article class="row post_el">
                <div class="col-md-7">
                    <a href="{{ post.url }}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5 post_data">
                    <h3>{{ post.title }}</h3>
                    <span class="el_date">
                        {% if post.editDate is not null %}
                            <em>Modifié le {{ post.editDate }}</em>
                        {% else %}
                            <em>Ajouté le {{ post.date }}</em>
                        {% endif %}
                    </span>
                    <p>{{ post.sum }}</p>
                    <a class="btn btn-primary" href="{{ post.url }}">Lire l'article</a><br/>
                </div>
            </article>

            <hr>

        {% endfor %}
    </div>
{% endblock %}
