{% extends "default.twig" %}

{% block subtitle %}
	<section id="sub_title" class="container pb-4 mw-800">
		<section id="index_pre_head">
			<img id="personal_photo" class="row" src="/public/img/pictos/plug-o-120.png" alt="Pictogramme d'une prise électrique">
			<p class="m-0 p-0 pt-4">"{{ post.sum }}"</p>
		</section>
		<hr class="sm-hide mt-0">
		<section class="row no-gutters">
			<div class="col-sm sub_head_item">
				<hr class="sm-show  mt-0">
				<div>
					<img class="head_item_img" src="/public/img/pictos/author-o.png" alt="">
					<span>
                        Posté par <br class="sm-hide"/>
                        {{ post.author }}
                    </span>
				</div>
				<hr class="sm-show">
			</div>
			<div class="col-sm sub_head_item">
				<div>
					<img class="head_item_img" src="/public/img/pictos/calendar-o.png" alt="">
					<span>
                        {% if post.editDate is not null %}
							Modifié le <br class="sm-hide"/>{{ post.editDate }}
                        {% else %}
							Ajouté le <br class="sm-hide"/>{{ post.date }}
                        {% endif %}
                    </span>
				</div>
				<hr class="sm-show">
			</div>
			<div class="col-sm sub_head_item">
				<div>
					<img class="head_item_img" src="/public/img/pictos/keyboard-o.png" alt="">
					<span>
                        <a class="add-button" href="{{ post.editUrl }}">
                            Modifier
                        </a>
                    </span>
				</div>
				<hr class="sm-show mb-0">
			</div>
		</section>
		<hr class="sm-hide">
	</section>
{% endblock %}
{% block view %}

	<article id="article_show" class="container mw-800">
			<div class="p-4">
				{{ post.content|raw }}
			</div>
	</article>

{% endblock %}